/* --> github theme */

.highlight code table td { padding: 5px; }
.highlight code table pre { margin: 0; }
.highlight code .cm {
  color: #999988;
  font-style: italic;
}
.highlight code .cp {
  color: #999999;
  font-weight: bold;
}
.highlight code .c1 {
  color: #999988;
  font-style: italic;
}
.highlight code .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight code .c, .highlight code .ch, .highlight code .cd, .highlight code .cpf {
  color: #999988;
  font-style: italic;
}
.highlight code .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight code .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight code .ge {
  color: #000000;
  font-style: italic;
}
.highlight code .gr {
  color: #aa0000;
}
.highlight code .gh {
  color: #999999;
}
.highlight code .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight code .go {
  color: #888888;
}
.highlight code .gp {
  color: #555555;
}
.highlight code .gs {
  font-weight: bold;
}
.highlight code .gu {
  color: #aaaaaa;
}
.highlight code .gt {
  color: #aa0000;
}
.highlight code .kc {
  color: #000000;
  font-weight: bold;
}
.highlight code .kd {
  color: #000000;
  font-weight: bold;
}
.highlight code .kn {
  color: #000000;
  font-weight: bold;
}
.highlight code .kp {
  color: #000000;
  font-weight: bold;
}
.highlight code .kr {
  color: #000000;
  font-weight: bold;
}
.highlight code .kt {
  color: #445588;
  font-weight: bold;
}
.highlight code .k, .highlight code .kv {
  color: #000000;
  font-weight: bold;
}
.highlight code .mf {
  color: #009999;
}
.highlight code .mh {
  color: #009999;
}
.highlight code .il {
  color: #009999;
}
.highlight code .mi {
  color: #009999;
}
.highlight code .mo {
  color: #009999;
}
.highlight code .m, .highlight code .mb, .highlight code .mx {
  color: #009999;
}
.highlight code .sa {
  color: #000000;
  font-weight: bold;
}
.highlight code .sb {
  color: #d14;
}
.highlight code .sc {
  color: #d14;
}
.highlight code .sd {
  color: #d14;
}
.highlight code .s2 {
  color: #d14;
}
.highlight code .se {
  color: #d14;
}
.highlight code .sh {
  color: #d14;
}
.highlight code .si {
  color: #d14;
}
.highlight code .sx {
  color: #d14;
}
.highlight code .sr {
  color: #009926;
}
.highlight code .s1 {
  color: #d14;
}
.highlight code .ss {
  color: #990073;
}
.highlight code .s, .highlight code .dl {
  color: #d14;
}
.highlight code .na {
  color: #008080;
}
.highlight code .bp {
  color: #999999;
}
.highlight code .nb {
  color: #0086B3;
}
.highlight code .nc {
  color: #445588;
  font-weight: bold;
}
.highlight code .no {
  color: #008080;
}
.highlight code .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight code .ni {
  color: #800080;
}
.highlight code .ne {
  color: #990000;
  font-weight: bold;
}
.highlight code .nf, .highlight code .fm {
  color: #990000;
  font-weight: bold;
}
.highlight code .nl {
  color: #990000;
  font-weight: bold;
}
.highlight code .nn {
  color: #555555;
}
.highlight code .nt {
  color: #000080;
}
.highlight code .vc {
  color: #008080;
}
.highlight code .vg {
  color: #008080;
}
.highlight code .vi {
  color: #008080;
}
.highlight code .nv, .highlight code .vm {
  color: #008080;
}
.highlight code .ow {
  color: #000000;
  font-weight: bold;
}
.highlight code .o {
  color: #000000;
  font-weight: bold;
}
.highlight code .w {
  color: #bbbbbb;
}
.highlight code {
  background-color: #f8f8f8;
}
/* <-- github theme */

div.highlight {
  border: solid 1px black;
  padding: 0px 1em;
}

.highlight .err {
  color: #a61717;
  background-color: #f5f7f9;
}

table { border: solid 1px black; }
table tr td { border: solid 1px black; }
table tr th { border: solid 1px black; }
