# NEWS
NEWS will be shown here.

# announcement
you can use markdown here.

---

# tag samples

link:http://www.example.com

| ta | b | le |
|:----|:---:|----:|
| left | center | right |
| 左寄り | 真ん中 | 右寄り |

f(x) = x^2 + x + 1

<a href='http://www.example.com' target=_blank>example.com</a>

~strike~ ~~strike2~~ _underline_ __underline2__ *itaric* ==highlight==

```ruby
 let code = block
 code.each do |letter|
  puts letter
 end
```
