.ruby-version
.swp
Gemfile.lock
secret_token.rb
taikyoku
test.html
tmp
config/mail.yaml
config/settings.yaml
config/signature.txt
config/news.txt
db/adminconfig.txt
db/taikyoku.csv
db/taikyokufile.lock
db/taikyokuchu.csv
db/taikyokuchufile.lock
db/userinfo.csv
db/userinfofile.lock
log
REVISION
