.bundle
.ruby-version
.swp
Gemfile.lock
secret_token.rb
taikyoku
test.html
tmp
backup
config/mail.yaml
config/settings.yaml
config/signature.txt
config/news.txt
db/adminconfig.txt
db/taikyoku.csv
db/taikyokuchu.csv
db/taikyokureq.csv
db/userinfo.csv
log
REVISION
vendor
