
============================================================
My site title
URL: http://www.example.com/cgi-bin/washcrus/index.rb
e-mail: mymailaddress@example.com
============================================================
