<%# -*- coding: utf-8 -*- %>
<div id='chatlog' class='chat'>
 チャットえりあ
</div>
 <input id='chatname' type='text' value='<%= @userinfo.user_name %>' size='10' class='chatnm' readonly/>
 :<input id='chatmsg' type='text' size='60' class='chatmsg'/>
 <input type='button' id='chatbtn' onClick='onChatSay();' class='chatbtn' value='&gt;&gt;'/>
 <input type='hidden' id='gameid' value='<%= @gameid %>'/>
<script type='text/javascript' src='./js/chat.v013.js' defer></script>
