<%# -*- coding: utf-8 -*- %>
<div style="margin:4px;"><table id='gotegoma' class='gotegoma' border='0'>
 <tr><td colspan='14' id='gg_pname'>後手 <%= wname %></td></tr>
 <tr><td></td><td colspan='13'></td></tr>
 <tr id='gg_fu'>
  <td id='gg_hisha_img' class='tegoma_koma'><img src='./image/hkoma_hisha.svg' width='100%' height='100%'></td><td id='gg_hisha_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_kaku_img' class='tegoma_koma'><img src='./image/hkoma_kaku.svg' width='100%' height='100%'></td><td id='gg_kaku_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_kin_img' class='tegoma_koma'><img src='./image/hkoma_kin.svg' width='100%' height='100%'></td><td id='gg_kin_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_gin_img' class='tegoma_koma'><img src='./image/hkoma_gin.svg' width='100%' height='100%'></td><td id='gg_gin_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_kei_img' class='tegoma_koma'><img src='./image/hkoma_kei.svg' width='100%' height='100%'></td><td id='gg_kei_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_kyo_img' class='tegoma_koma'><img src='./image/hkoma_kyo.svg' width='100%' height='100%'></td><td id='gg_kyo_num' class='tegoma_num' align='center'>0</td>
  <td id='gg_fu_img' class='tegoma_koma'><img src='./image/hkoma_fu.svg' width='100%' height='100%'></td><td id='gg_fu_num' class='tegoma_num' align='center'>0</td>
 </tr>
</table></div>
<div align='center'><table id='ban' class='ban' cellpadding='0'>
 <tr id='bancolumn'><th class='ban_suji_num'>９</th><th class='ban_suji_num'>８</th><th class='ban_suji_num'>７</th><th class='ban_suji_num'>６</th><th class='ban_suji_num'>５</th><th class='ban_suji_num'>４</th><th class='ban_suji_num'>３</th><th class='ban_suji_num'>２</th><th class='ban_suji_num'>１</th><th>&nbsp;</th></tr>
 <tr class='ban_dan_row'><td id='b91' class='ban_masu'>---</td><td id='b81' class='ban_masu'>---</td><td id='b71' class='ban_masu'>---</td><td id='b61' class='ban_masu'>---</td><td id='b51' class='ban_masu'>---</td><td id='b41' class='ban_masu'>---</td><td id='b31' class='ban_masu'>---</td><td id='b21' class='ban_masu'>---</td><td id='b11' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow1'>一</th></tr>
 <tr class='ban_dan_row'><td id='b92' class='ban_masu'>---</td><td id='b82' class='ban_masu'>---</td><td id='b72' class='ban_masu'>---</td><td id='b62' class='ban_masu'>---</td><td id='b52' class='ban_masu'>---</td><td id='b42' class='ban_masu'>---</td><td id='b32' class='ban_masu'>---</td><td id='b22' class='ban_masu'>---</td><td id='b12' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow2'>二</th></tr>
 <tr class='ban_dan_row'><td id='b93' class='ban_masu'>---</td><td id='b83' class='ban_masu'>---</td><td id='b73' class='ban_masu'>---</td><td id='b63' class='ban_masu'>---</td><td id='b53' class='ban_masu'>---</td><td id='b43' class='ban_masu'>---</td><td id='b33' class='ban_masu'>---</td><td id='b23' class='ban_masu'>---</td><td id='b13' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow3'>三</th></tr>
 <tr class='ban_dan_row'><td id='b94' class='ban_masu'>---</td><td id='b84' class='ban_masu'>---</td><td id='b74' class='ban_masu'>---</td><td id='b64' class='ban_masu'>---</td><td id='b54' class='ban_masu'>---</td><td id='b44' class='ban_masu'>---</td><td id='b34' class='ban_masu'>---</td><td id='b24' class='ban_masu'>---</td><td id='b14' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow4'>四</th></tr>
 <tr class='ban_dan_row'><td id='b95' class='ban_masu'>---</td><td id='b85' class='ban_masu'>---</td><td id='b75' class='ban_masu'>---</td><td id='b65' class='ban_masu'>---</td><td id='b55' class='ban_masu'>---</td><td id='b45' class='ban_masu'>---</td><td id='b35' class='ban_masu'>---</td><td id='b25' class='ban_masu'>---</td><td id='b15' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow5'>五</th></tr>
 <tr class='ban_dan_row'><td id='b96' class='ban_masu'>---</td><td id='b86' class='ban_masu'>---</td><td id='b76' class='ban_masu'>---</td><td id='b66' class='ban_masu'>---</td><td id='b56' class='ban_masu'>---</td><td id='b46' class='ban_masu'>---</td><td id='b36' class='ban_masu'>---</td><td id='b26' class='ban_masu'>---</td><td id='b16' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow6'>六</th></tr>
 <tr class='ban_dan_row'><td id='b97' class='ban_masu'>---</td><td id='b87' class='ban_masu'>---</td><td id='b77' class='ban_masu'>---</td><td id='b67' class='ban_masu'>---</td><td id='b57' class='ban_masu'>---</td><td id='b47' class='ban_masu'>---</td><td id='b37' class='ban_masu'>---</td><td id='b27' class='ban_masu'>---</td><td id='b17' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow7'>七</th></tr>
 <tr class='ban_dan_row'><td id='b98' class='ban_masu'>---</td><td id='b88' class='ban_masu'>---</td><td id='b78' class='ban_masu'>---</td><td id='b68' class='ban_masu'>---</td><td id='b58' class='ban_masu'>---</td><td id='b48' class='ban_masu'>---</td><td id='b38' class='ban_masu'>---</td><td id='b28' class='ban_masu'>---</td><td id='b18' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow8'>八</th></tr>
 <tr class='ban_dan_row'><td id='b99' class='ban_masu'>---</td><td id='b89' class='ban_masu'>---</td><td id='b79' class='ban_masu'>---</td><td id='b69' class='ban_masu'>---</td><td id='b59' class='ban_masu'>---</td><td id='b49' class='ban_masu'>---</td><td id='b39' class='ban_masu'>---</td><td id='b29' class='ban_masu'>---</td><td id='b19' class='ban_masu'>---</td><th class='ban_dan_num' id='banrow9'>九</th></tr>
</table></div>
<div align='right' style="margin:4px;"><table id='sentegoma' class='sentegoma' border='0'>
 <tr id='sg_fu'>
  <td id='sg_fu_img' class='tegoma_koma'><img src='./image/koma_fu.svg' width='100%' height='100%'></td><td id='sg_fu_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_kyo_img' class='tegoma_koma'><img src='./image/koma_kyo.svg' width='100%' height='100%'></td><td id='sg_kyo_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_kei_img' class='tegoma_koma'><img src='./image/koma_kei.svg' width='100%' height='100%'></td><td id='sg_kei_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_gin_img' class='tegoma_koma'><img src='./image/koma_gin.svg' width='100%' height='100%'></td><td id='sg_gin_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_kin_img' class='tegoma_koma'><img src='./image/koma_kin.svg' width='100%' height='100%'></td><td id='sg_kin_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_kaku_img' class='tegoma_koma'><img src='./image/koma_kaku.svg' width='100%' height='100%'></td><td id='sg_kaku_num' class='tegoma_num' align='center'>0</td>
  <td id='sg_hisha_img' class='tegoma_koma'><img src='./image/koma_hisha.svg' width='100%'></td><td id='sg_hisha_num' class='tegoma_num' align='center'>0</td>
 </tr>
 <tr><td></td><td colspan='13'></td></tr>
 <tr><td colspan='14' id='sg_pname'>先手 <%= bname %></td></tr>
</table></div>
<script type='text/javascript' src='./js/koma.v003.js'></script>
<script type='text/javascript' src='./js/shogi.v022.js'></script>
<script type='text/javascript' src='./js/kifu.v002.js'></script>
<script type='text/javascript' src='./js/sfen.v001.js'></script>
<script type='text/javascript' src='./js/ui.v031.js'></script>
