<%# -*- coding: utf-8 -*- %>
<div style="margin:4px;"><table id='gotegoma' class='gotegoma' border='0'>
 <tr><td colspan='14' id='gg_pname'>後手 <%= @mi.playerw %></td></tr>
 <tr><td colspan='14'></td></tr>
 <tr id='gg_fu'>
  <td id='gg_hisha_img'><img src='./image/hkoma_hisha.png' width='52' height='52'></td><td id='gg_hisha_num' align='center'>0</td>
  <td id='gg_kaku_img'><img src='./image/hkoma_kaku.png' width='52' height='52'></td><td id='gg_kaku_num' align='center'>0</td>
  <td id='gg_kin_img'><img src='./image/hkoma_kin.png' width='52' height='52'></td><td id='gg_kin_num' align='center'>0</td>
  <td id='gg_gin_img'><img src='./image/hkoma_gin.png' width='52' height='52'></td><td id='gg_gin_num' align='center'>0</td>
  <td id='gg_kei_img'><img src='./image/hkoma_kei.png' width='52' height='52'></td><td id='gg_kei_num' align='center'>0</td>
  <td id='gg_kyo_img'><img src='./image/hkoma_kyo.png' width='52' height='52'></td><td id='gg_kyo_num' align='center'>0</td>
  <td id='gg_fu_img'><img src='./image/hkoma_fu.png' width='52' height='52'></td><td id='gg_fu_num' align='center'>0</td>
 </tr>
</table></div>
<div align='center'><table id='ban' class='ban' border='2'>
 <tr id='bancolumn'><th width='52'>９</th><th width='52'>８</th><th width='52'>７</th><th width='52'>６</th><th width='52'>５</th><th width='52'>４</th><th width='52'>３</th><th width='52'>２</th><th width='52'>１</th><th>&nbsp;</th></tr>
 <tr><td id='b91'>---</td><td id='b81'>---</td><td id='b71'>---</td><td id='b61'>---</td><td id='b51'>---</td><td id='b41'>---</td><td id='b31'>---</td><td id='b21'>---</td><td id='b11'>---</td><th height='52' id='banrow1'>一</th></tr>
 <tr><td id='b92'>---</td><td id='b82'>---</td><td id='b72'>---</td><td id='b62'>---</td><td id='b52'>---</td><td id='b42'>---</td><td id='b32'>---</td><td id='b22'>---</td><td id='b12'>---</td><th height='52' id='banrow2'>二</th></tr>
 <tr><td id='b93'>---</td><td id='b83'>---</td><td id='b73'>---</td><td id='b63'>---</td><td id='b53'>---</td><td id='b43'>---</td><td id='b33'>---</td><td id='b23'>---</td><td id='b13'>---</td><th height='52' id='banrow3'>三</th></tr>
 <tr><td id='b94'>---</td><td id='b84'>---</td><td id='b74'>---</td><td id='b64'>---</td><td id='b54'>---</td><td id='b44'>---</td><td id='b34'>---</td><td id='b24'>---</td><td id='b14'>---</td><th height='52' id='banrow4'>四</th></tr>
 <tr><td id='b95'>---</td><td id='b85'>---</td><td id='b75'>---</td><td id='b65'>---</td><td id='b55'>---</td><td id='b45'>---</td><td id='b35'>---</td><td id='b25'>---</td><td id='b15'>---</td><th height='52' id='banrow5'>五</th></tr>
 <tr><td id='b96'>---</td><td id='b86'>---</td><td id='b76'>---</td><td id='b66'>---</td><td id='b56'>---</td><td id='b46'>---</td><td id='b36'>---</td><td id='b26'>---</td><td id='b16'>---</td><th height='52' id='banrow6'>六</th></tr>
 <tr><td id='b97'>---</td><td id='b87'>---</td><td id='b77'>---</td><td id='b67'>---</td><td id='b57'>---</td><td id='b47'>---</td><td id='b37'>---</td><td id='b27'>---</td><td id='b17'>---</td><th height='52' id='banrow7'>七</th></tr>
 <tr><td id='b98'>---</td><td id='b88'>---</td><td id='b78'>---</td><td id='b68'>---</td><td id='b58'>---</td><td id='b48'>---</td><td id='b38'>---</td><td id='b28'>---</td><td id='b18'>---</td><th height='52' id='banrow8'>八</th></tr>
 <tr><td id='b99'>---</td><td id='b89'>---</td><td id='b79'>---</td><td id='b69'>---</td><td id='b59'>---</td><td id='b49'>---</td><td id='b39'>---</td><td id='b29'>---</td><td id='b19'>---</td><th height='52' id='banrow9'>九</th></tr>
</table></div>
<div align='right' style="margin:4px;"><table id='sentegoma' class='sentegoma' border='0'>
 <tr id='sg_fu'>
  <td id='sg_fu_img'><img src='./image/koma_fu.png' width='52' height='52'></td><td id='sg_fu_num' align='center'>0</td>
  <td id='sg_kyo_img'><img src='./image/koma_kyo.png' width='52' height='52'></td><td id='sg_kyo_num' align='center'>0</td>
  <td id='sg_kei_img'><img src='./image/koma_kei.png' width='52' height='52'></td><td id='sg_kei_num' align='center'>0</td>
  <td id='sg_gin_img'><img src='./image/koma_gin.png' width='52' height='52'></td><td id='sg_gin_num' align='center'>0</td>
  <td id='sg_kin_img'><img src='./image/koma_kin.png' width='52' height='52'></td><td id='sg_kin_num' align='center'>0</td>
  <td id='sg_kaku_img'><img src='./image/koma_kaku.png' width='52' height='52'></td><td id='sg_kaku_num' align='center'>0</td>
  <td id='sg_hisha_img'><img src='./image/koma_hisha.png' width='52' height='52'></td><td id='sg_hisha_num' align='center'>0</td>
 </tr>
 <tr><td></td><td colspan='13'></td></tr>
 <tr><td colspan='14' id='sg_pname'>先手 <%= @mi.playerb %></td></tr>
</table></div>
