<%# -*- coding: utf-8 -*- %>
<div id='chatlog' class='chat'>
 チャットえりあ<BR>幅はどうやれば変わるの？<BR>-&gt;CSSでした。<BR>
 divじゃないとタグが効かないことが判明。</div>
 <input id='chatname' type='text' value='<%= @userinfo.user_name %>' size='10' class='chatnm' readonly/>
 :<input id='chatmsg' type='text' size='60' class='chatmsg'/>
 <input type='button' id='chatbtn' onClick='onChatSay();' value='&gt;&gt;'/>
 <input type='hidden' id='gameid' value='<%= @gameid %>'/>
<script type='text/javascript' src='./js/chat.js' defer></script>
