<%# -*- coding: utf-8 -*- %>
<div class='fogscreen' id='fogscreen'>
 <section class='msg_fogscreen' id='msg_fogscreen'>
  <BIG>sending data to server..</BIG><img src='image/komanim.gif'>
 </section>
</div>
<div class='preload'>
 <img src='image/koma_fu.png'>
 <img src='image/koma_kyo.png'>
 <img src='image/koma_kei.png'>
 <img src='image/koma_gin.png'>
 <img src='image/koma_kin.png'>
 <img src='image/koma_kaku.png'>
 <img src='image/koma_hisha.png'>
 <img src='image/koma_to.png'>
 <img src='image/koma_nkyo.png'>
 <img src='image/koma_nkei.png'>
 <img src='image/koma_ngin.png'>
 <img src='image/koma_ryu.png'>
 <img src='image/koma_uma.png'>
 <img src='image/koma_ou.png'>
 <img src='image/hkoma_fu.png'>
 <img src='image/hkoma_kyo.png'>
 <img src='image/hkoma_kei.png'>
 <img src='image/hkoma_gin.png'>
 <img src='image/hkoma_kin.png'>
 <img src='image/hkoma_kaku.png'>
 <img src='image/hkoma_hisha.png'>
 <img src='image/hkoma_to.png'>
 <img src='image/hkoma_nkyo.png'>
 <img src='image/hkoma_nkei.png'>
 <img src='image/hkoma_ngin.png'>
 <img src='image/hkoma_ryu.png'>
 <img src='image/hkoma_uma.png'>
 <img src='image/hkoma_ou.png'>
</div>
