<%# -*- coding: utf-8 -*- %>
<!-- 成り/不成選択メニュー -->
<div id="narimenu" class='movecfrm'>
  <table>
   <tr><td class='msg_movecfrm'>成りますか？</td></tr>
   <tr height='15'><td></td></tr>
   <tr><td><div id="naru" class='mvcfm_ok'>&nbsp;成り&nbsp;</div></td></tr>
   <tr height='15'><td></td></tr>
   <tr><td><div id="narazu" class='mvcfm_cancel'>&nbsp;不成&nbsp;</div></td></tr>
  </table>
</div>
<!-- 着手確認メッセージ -->
<div class='movecfrm' id='movecfrm'>
 <table>
  <tr><td colspan='2' class='msg_movecfrm' id='msg_movecfrm'>msg</td></tr>
  <tr height='15'><td></td></tr>
  <tr><td><div id='mvcfm_ok' class='mvcfm_ok'>OK</div></td></tr>
  <tr height='15'><td></td></tr>
  <tr><td><div id='mvcfm_cancel' class='mvcfm_cancel'>Cancel</div></td></tr>
 </table>
</div>
<!-- 入力禁止兼通信中メッセージ -->
<div class='fogscreen' id='fogscreen'>
 <section class='msg_fogscreen' id='msg_fogscreen'>
  <BIG>sending data to server..</BIG><img src='image/komanim.gif'>
 </section>
</div>
<!-- 事前読み込み用 -->
<div class='preload'>
 <img src='image/koma_fu.png'>
 <img src='image/koma_kyo.png'>
 <img src='image/koma_kei.png'>
 <img src='image/koma_gin.png'>
 <img src='image/koma_kin.png'>
 <img src='image/koma_kaku.png'>
 <img src='image/koma_hisha.png'>
 <img src='image/koma_to.png'>
 <img src='image/koma_nkyo.png'>
 <img src='image/koma_nkei.png'>
 <img src='image/koma_ngin.png'>
 <img src='image/koma_ryu.png'>
 <img src='image/koma_uma.png'>
 <img src='image/koma_ou.png'>
 <img src='image/hkoma_fu.png'>
 <img src='image/hkoma_kyo.png'>
 <img src='image/hkoma_kei.png'>
 <img src='image/hkoma_gin.png'>
 <img src='image/hkoma_kin.png'>
 <img src='image/hkoma_kaku.png'>
 <img src='image/hkoma_hisha.png'>
 <img src='image/hkoma_to.png'>
 <img src='image/hkoma_nkyo.png'>
 <img src='image/hkoma_nkei.png'>
 <img src='image/hkoma_ngin.png'>
 <img src='image/hkoma_ryu.png'>
 <img src='image/hkoma_uma.png'>
 <img src='image/hkoma_ou.png'>
 <img src='image/dot16.png'>
</div>
