<%# -*- coding: utf-8 -*- %>
<label>
 <input type='checkbox' id='hifumineye' onclick='check_hifumin_eye();'<%= ' checked' if @mi.idw == @userinfo.user_id %> >ひふみんアイ</input>
</label>
<span style='display:none;' id='sfen_'><%= @mi.sfen %></span>
<input type='hidden' id='lastmove' value='<%= @mi.lastmove %>'/>
<input type='hidden' id='isfinished' value='<%= @mi.finished %>'/><BR>
<% if @mi.idb == @userinfo.user_id %>
<input type='hidden' id='myteban' value='b'/>
<% elsif @mi.idw == @userinfo.user_id %>
<input type='hidden' id='myteban' value='w'/>
<% else %>
<input type='hidden' id='myteban' value='0'/>
<% end %>
<span id='tebaninfo'>手番情報</span>
<input type='image' src='./image/resignbtn.png' alt='投了(resign)' title='投了(resign)' id='btn_resign' onclick="onresign()"/>
